<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/admin.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<body >
    <main>
        <div>
            <div class="bnc">
                    <div class="sidebar">
                        <ol class="sidebar--link">
                            <li><a href="/admin/reports">리뷰 신고 관리</a></li>
                            <li><a href="/admin/newagent">공인중개사 인증관리</a></li>
                        </ol>
                    </div>

                    <div class="admin--content">
                        <div class="upper--box">
                            <div id="admin--intro">부동산 인증 관리</div>
                            <div class="a--agent--list">
                                <div>
                                <div class="a--r--report--item">
                                    <% for (let i = 0; i < newAgent.length; i++) { %>
                                        <ul class="a--signedup_agent">
                                          <li class="s_user_name"><a href="/admin/newagent/confirm/<%= newAgent[i].agentList_ra_regno %>">신청자 : <%= newAgent[i].a_realname %></a></li>
                                          <li class="s_user_id">아이디 : <%= newAgent[i].a_username %></li>
                                          <li class="s_user_id">중개번호 : <%= newAgent[i].agentList_ra_regno %></li>
                                          <% const formattedDate = new Date(newAgent[i].created_time).toISOString().slice(0, 10); %>
                                          <li class="s_signup_date">신청일 : <%= formattedDate %></li>                                            
                                        </ul>
                                      <% } %>


                                </div>
                               </div>

                            </div>


                        </div>
                                      
                    </div>
                </div>

            </div>



                   

    </main>
</body>


<script>


</script>