<!DOCTYPE HTML>
<html>
	<head>
		<title><%- title %></title>
	</head>
	<body>
		<h1><%- title %></h1>
		<form action='/review/<%- cmpName %>/create_process' method='post'>
			<input type='hidden' name='raRegno' value=<%- raRegno %>>
			<p><input type='text' name='rate' placeholder='별점0-5'></p>
			<p><textarea name='description' placeholder='부동산에 대해 솔직한 후기를 작성해 주세요!'></textarea></p>
			<input type='submit' value='등록'>
		</form>
		<form action='/agent/<%- cmpName %>' method='get'>
			<input type='submit' value='취소'>
		</form>
	</body>
</html>
