<%- include('./residentMenu.ejs'); %>
<div class="layout-column mypage-container">
  <h3 class="mypage-hr">북마크</h3>
  <% if(bookmarks.length === 0) { %>
  <div>아직 북마크를 하지 않았어요!</div>
  <a href="/search">🏃‍♀️부동산 살펴보러 가기💨</a>
  <% } else { %>
  <% bookmarks.forEach(bookmark => { %>
  <div class="mypage-bookmark" onclick="location.href='../agent/<%=bookmark.agentList_ra_regno%>';">
    <h3><%= bookmark.cmp_nm %></h3>
    <%= bookmark.address %>
    <form class="mybookmark-button" action="/resident/bookmark/<%= bookmark.bm_id%>/delete" method="post">
      <input type="submit" name="" value="삭제">
    </form>
  </div>
  <% }); %>
  <% } %>
</div>