<%- include('./residentMenu.ejs'); %>
<script>
  function checkSetting() {
    let number = document.getElementById("residentPhone").value;
    console.log(number);
    if (/^[0-9]{3}-[0-9]{4}-[0-9]{4}$/.test(number)) {
      document.getElementById("checkPhoneMessage").innerText = "";
      alert("변경 사항이 저장되었습니다.");
      return true;
    } else {
      document.getElementById("checkPhoneMessage").innerText =
        "010-0000-0000 형식으로 입력해주세요.";
      return false;
    }
  }

  const autoHyphen2 = (target) => {
    target.value = target.value
      .replace(/[^0-9]/g, '')
      .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
  }

  function checkPassword() {
    let pw = document.getElementById("newpw").value;
    let pw2 = document.getElementById("newpw2").value;
    let passwordMessage = document.getElementById("checkpw");
    const minLength = 8;
    const hasUppercase = /[A-Z]/.test(pw);
    const hasLowercase = /[a-z]/.test(pw);
    const hasNumber = /[0-9]/.test(pw);
    const hasSpecial = /^(?=.*[!@#%&])/.test(pw);
    if (pw !== pw2) {
      passwordMessage.innerText =
        "비밀번호를 다시 확인해주세요.";
      return false;
    } else if (pw.length < minLength) {
      passwordMessage.innerText = `비밀번호는 ${minLength}자 이상이어야 합니다.`;
    } else if (!hasUppercase) {
      passwordMessage.innerText = "비밀번호에는 대문자가 포함되어야 합니다.";
    } else if (!hasLowercase) {
      passwordMessage.innerText = "비밀번호에는 소문자가 포함되어야 합니다.";
    } else if (!hasNumber) {
      passwordMessage.innerText = "비밀번호에는 숫자가 포함되어야 합니다.";
    } else if (!hasSpecial) {
      passwordMessage.innerText = "비밀번호에는 특수기호가 포함되어야 합니다";
    } else {
      passwordMessage.innerText = "";
      return true;
    }
    return false;
  }
</script>
<div class="mypage-container">
  <h3 class="mypage-hr">계정 정보</h3>
  <form classname="user-setting" action="/resident/settings/update" method="post">
    <label class="user-label">🧸 아이디</label>
    <input class="uk-input uk-form-width-medium" name="username" value="<%= resident.r_username %>" placeholder="아이디" readonly="true" />
    <br />
    <label class="user-label">✅ 실명</label>
    <input class="uk-input uk-form-width-medium" value="<%= resident.r_realname %>" required />
    <br />
    <label class="user-label">📞 전화번호</label>
    <input oninput="autoHyphen2(this)" maxlength="13" id="residentPhone" class="uk-input uk-form-width-medium" name="phone" value="<%= resident.r_phone %>" />
    <label id="checkPhoneMessage"></label>
    <br />
    <label class="user-label">📬 이메일</label>
    <input class="uk-input uk-form-width-medium" name="email" value="<%= resident.r_email %>" type="email" />
    <br />
    <label id="residentBirth" class="user-label">🎂 생년월일</label>
    <input class="uk-input uk-form-width-medium" name="birth" type="date" max="new Date()" placeholder="생년월일 입력하고 휴지 받기" value="<%=
    resident.r_birth === null ? '' : Intl.DateTimeFormat("fr-CA", {year:
    "numeric", month: "2-digit", day: "2-digit"}).format(resident.r_birth) %>" />
    <br />
    <div class="layout-row">
      <label class="user-label">🧻 나의 휴지</label>
      <span class="uk-badge" style="margin-right: 30px;"><%= resident.r_point%></span>
      <span class="abouttissue" style="margin-right: 10px">※휴지란?</span>
      <a href="#modal-center" uk-toggle><i class="ri-question-line"></i></a>

      <div id="modal-center" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

          <button class="uk-modal-close-default" type="button" uk-close></button>

          <p>
          <div style="text-align: center;">
            <h3>휴지로 후기를 열람하세요!</h3>
            <p>2️⃣🧻를 사용하여 후기를 열람할 수 있습니다.</p>
          </div>
          <h4>🧻 모으기</h4>
          <table class="uk-table uk-table-striped">
            <tr>
              <td>회원가입</td>
              <td>+2️⃣🧻</td>
            </tr>
            <tr>
              <td>첫 후기 작성</td>
              <td>+5️⃣🧻</td>
            </tr>
            <tr>
              <td>후기 작성</td>
              <td>+3️⃣🧻</td>
            </tr>
            <tr>
              <td>생일 입력</td>
              <td>+1️⃣🧻</td>
            </tr>
            <tr>
              <td>생일 축하</td>
              <td>+1️⃣🧻</td>
            </tr>
            <tr>
              <td>전화번호 인증</td>
              <td>+3️⃣🧻</td>
            </tr>
          </table>
          </p>

        </div>
      </div>
    </div>
    <button class="user-submit-button uk-button uk-button-default" type="submit" onclick="return checkSetting()">
      변경 내용 저장하기
    </button>
  </form>
  <br />

  <h3 class="mypage-hr">비밀번호 재설정</h3>
  <form action="/resident/settings/pwupdate" method="post">
    <label class="user-label">🔑 현재 비밀번호</label>
    <div class="uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input class="uk-input uk-form-width-medium" name="oldpassword" type="password" aria-label="Not clickable icon" required />
    </div>
    <br />

    <label class="user-label">🔓 새 비밀번호</label>
    <div class="uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input id="newpw" name="password" class="uk-input uk-form-width-medium" type="password" aria-label="Not clickable icon" required />
    </div>
    <br />
    <label class="user-label">🔒 새 비밀번호 확인</label>
    <div class="uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input id="newpw2" class="uk-input uk-form-width-medium" type="password" aria-label="Not clickable icon" required />
    </div>
    <label id="checkpw"></label>
    <br />
    <button class="user-submit-button uk-button uk-button-default" type="submit" onclick="return checkPassword()">
      비밀번호 변경하기
    </button>
  </form>

  <div style="margin: 10px 0;">
      <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #delete-modal">
        떠나기
      </button>
      <!-- This is the modal -->
      <div id="delete-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <form action="/resident/deleteAccount" method="post">
            <h2 class="uk-modal-title">정말 가시는 건가요..?</h2>
            <p>정말 가시는 건가요..? 다시 한번만 생각해 주세요... 정말 가시는 건가요..? 다시 한번만 생각해 주세요... 정말 가시는 건가요..? 다시 한번만 생각해 주세요... 정말 가시는 건가요..? 다시 한번만 생각해 주세요... 정말 가시는 건가요..? 다시 한번만 생각해 주세요...</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">남습니다</button>
                <button class="uk-button uk-button-primary" type="submit">갑니다</button>
            </p>
          </form>
        </div>
      </div>
  </div>

  
</div>