<link rel="stylesheet" href="/css/agent.css">
<table style="margin-top:340px; text-align: left; margin-bottom: 20px; ">
    <tr>
        <th>영업시간</th>
        <td>
            <% if(agent.a_id === null) { %>
            <p>정보없음</p>
            <% } else { %>
                <%= agent.a_office_hours %>
            <% } %>
        </td>
    </tr>
    <tr>
        <th>부동산 연락처</th>
        <td>
            <%= agent.telno%>
        </td>
    </tr>
    <tr>
        <th>공인중개사 연락처</th>
        <td>
            <% if(agent.contact_number === null) { %>
                <% if(agent.a_id === null) { %> 
                    <%= agent.telno%>
                <% } else {%>
                    <%= agent.a_phone%>
                <% } %> 
            <% } else { %>
                <%= agent.contact_number%>
            <% } %>
        </td>
    </tr>
</table>