<link rel="stylesheet" href="/css/agent.css">

<div class="row">
    <div class="left">
      <div class="photo-left">
        <% if(agent.a_profile_image == null) { %>
            <div></div>
        <% } else { %>
            <img class = "photo" src="/uploads/<%= agent.a_profile_image %>" />
            <% } %>
      </div>
      
      <% if(agent.rdealer_nm == null) { %>
        <div>정보없음</div>
      <% } else { %>
        <h4 class="name"><%= agent.rdealer_nm %></h4>
        <% } %>

    <% if(agent.cmp_nm == null) { %>
        <div></div>
    <% } else { %>
        <p class="info"><%= agent.cmp_nm %></p>
    <% } %>

    <% if(agent.address == null) { %>
        <div></div>
    <% } else { %>
        <p class="info"><%= agent.address %></p>
    <% } %>

    <span>평균 별점</span>
    <span class="uk-badge"><%= rating %></span>

</div>