<div style="padding: 20px 30px;">
  <%- include('./realtorProfile.ejs', {agent: agent, rating: rating}); %>
  <%- include('./realtorMainInfo.ejs', {agent: agentMainInfo}); %>
  <%- include('./realtorInformation.ejs', {agent: agentSubInfo}); %>

  <% if (r_id) { %>
  <form action="/realtor/<%= agentMainInfo.ra_regno %>/bookmark" method="post">
    <input type="hidden" name="bookmarkData" value="<%= bookmark !== 0 ? bookmark.bm_id : 0 %>" />
    <button class="bookmark-button" type="submit">
      <span uk-icon="icon: bookmark; ratio:3; <%= bookmark !== 0 ? "highlight":"" %>"></span>
    </button>
  </form>
  <% } %>

  </br>
  <h1 class="uk-heading-divider"><%= `${agent.cmp_nm}의 후기` %></h1>

  <% if (agentReviewData.length > 0) { %>
  <div class="review-statistics-container">
    <div>후기 <%= agentReviewData.length %>개의 통계</div>
    <% statistics.forEach((element, index) => { %>
    <div class="layout-row <%= element.id < 5 ? "positive" : "negative" %> stat level<%= index %>" style="width: 300px;justify-content: space-between;">
      <div><%= element.tag %></div>
      <div><%= element.count %></div>
    </div>
    <% }) %>
  </div>
  <% } %>


  <% if(agentReviewData[0] == null) { %>
  <h3>첫 후기를 작성해 보세요!</h3>
  <form action=<%= direction %> method='post'>
    <input type='hidden' name='raRegno' value=<%= agent.ra_regno %>>
    <p><input class="uk-button uk-button-default" type='submit' value='첫 후기 작성하고 🧻 5휴지 받기'></p>
  </form>
  <% } else { %>
  <% agentReviewData.forEach(review => { %>
  <% let flag = true; %>
  <% report.forEach(repo => { %>
  <% if(repo.check_repo === 0 && repo.repo_rv_id === review.rv_id) flag = false; }); %>
  <% if(flag === true) { %>
  <%- include('./realtorReview.ejs', {r_id: r_id, review: review, report: report, opened: openedReviewData, canOpen: canOpen, tags: review.tags, tagsData: tagsData}); %>
  <% } else { %>
  <%- include('./realtorRepoReview.ejs', {review: review}); %>
  <% } %>
  <% }); %>

  <% if(!r_id) { %>
  <form action='/auth/login'>
    <p><input class="uk-button uk-button-default" type='submit' onclick="return window.confirm('로그인이 필요합니다.');" value='후기 작성하고 휴지 받기'></p>
  </form>
  <% } else { %>
  <% let flag = 1; %>
  <% agentReviewData.forEach(review => { if(review.r_id == r_id) flag = 0; }); %>
  <% if(flag == 1) { %>
  <form action=<%= direction %> method='post'>
    <input type='hidden' name='raRegno' value=<%= agent.ra_regno %>>
    <p><input class="uk-button uk-button-default" type='submit' value='후기 작성하고 휴지 받기'></p>
  </form>
  <% } else { %>
  <p>이미 후기를 작성하셨습니다.</p>
  <% } %>
  <% } %>
  <% } %>
</div>