<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
</script>

<div class="uk-card uk-card-default uk-card-hover uk-card-body layout-row" style="display: flex; margin-bottom: 15px; max-width: 80%;">
  <span style="margin-right: auto; width: 80%;">
    <div class="layout-row">
      <p style="margin-right:10px"><%- review.r_username %></p>
      <% for( let index = 0; index < 5; index++ ) { %>
      <% if (index < review.rating) { %>
      <p>★</p>
      <% } else { %>
      <p>☆</p>
      <% } %>
      <% } %>
    </div>
    <p>이 작성자의 후기 평균: <%- review.avgRRating %></p>
    <% if(tags !== null) { %>
    <% tags.split("").forEach((element, index) => { %>
    <span class="uk-label" style="margin-right:5px; margin-bottom:5px;"><%= tagsData[element] %></span>
    <% }) %>
    <% } %>

    <% let isMyReview = false; %>
    <% if(review.r_username == r_username) isMyReview = true; %>
    <% let isOpened = false; %>
    <% if(opened != null) { %>
      <% opened.forEach(open => { %>
      <% if(open.review_rv_id === review.rv_id) isOpened = true; }); %>
    <% } %>

    <% if(!isOpened && !isMyReview) { %>
    <p class="rv-content blur-content">후기를 열람해 보세요! 스타일 지워도 안보이지롱...굿굿 다시한번 해봐도 보이지 않을거예요 왜냐면 데이터를 안주닉가... 히히 신기하죠? 저도그래요</p>
    <% } else { %>
    <p class="rv-content"><%- review.content %></p>
    <% } %>
  </span>

  <span class="layout-column">
    <label style="margin: 10px 0; float: right;"><%= review.created_time %>작성</label>

    <% if(who == 1) { %>
      <% if(!isOpened && !isMyReview) { %>
        <% if(canOpen === 1) { %>
        <form action=<%= `/realtor/${review.ra_regno}/opening/${review.rv_id}` %> method='post'>
          <input type='submit' class="uk-button uk-button-default" style="margin: 10px 0; float: right;" onclick="return window.confirm('후기를 열람하면 2 🧻 휴지를 사용하게 됩니다. 열람하시겠습니까?');" value='열람'>
        </form>
        <% } else { %>
        <form>
          <input type='submit' class="uk-button uk-button-default" style="margin: 10px 0; float: right;" onclick="return window.alert('🧻 휴지가 부족하여 열람할 수 없습니다.');" value='열람'>
        </form>
        <% } %>
      <% } else if(!isMyReview) { %>
        <% let isReported = false; %>
        <% if(report != undefined) { %>
          <% report.forEach(repo => { %>
          <% if(repo.repo_rv_id === review.rv_id) isReported = true; }); %>
        <% } %>
        <% if(!isReported) { %>
        <!-- This is a button toggling the modal -->
        <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example">신고</button>

        <!-- This is the modal -->
        <div id="modal-example" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <form action=<%= `/realtor/report/${review.rv_id}` %>>
              <h2 class="uk-modal-title">🚨나쁜 후기입니까?🚨</h2>
              <label><b>신고 사유 선택</b></label>
              <div class="report-radio-container" name="reason">
                <label><input style="margin: 15px;" class="uk-radio" type="radio" required="required" name="reason" value=1>사칭/사기</label>
                </br>
                <label><input style="margin: 15px;" class="uk-radio" type="radio" required="required" name="reason" value=2>욕설/비하</label>
                </br>
                <label><input style="margin: 15px;" class="uk-radio" type="radio" required="required" name="reason" value=3>부적절한 내용</label>
              </div>
              <button class="uk-button uk-button-default uk-modal-close" type="button">취소</button>
              <button class="uk-button uk-button-primary" type="submit">신고</button>
            </form>
          </div>
        </div>
        <% } else { %>
        <lable style="margin: 10px 0; float: right; text-align: right;">🚔신고 완료</lable>
        <% } %>
      <% } %>
    <% } %>
  </span>
</div>