<h1><%= title %></h1>
<span>평균 별점</span>
<span class="uk-badge"><%= rating.agentRating %></span>
<% agentReviewData.forEach(review => { %>
<%- include('./realtorReview.ejs', {createdTime: review.created_time, rate: review.rating, author: review.r_username, description: review.content}) %>
<% }); %>

<% let flag = true; %>
<% agentReviewData.forEach(review => { %>
<% if(review.r_id == r_id) %>
<% flag = false;}); %>

<% if(flag) { %>
    <form action=<%= direction %> method='post'>
	    <input type='hidden' name='raRegno' value=<%= agentReviewData.ra_regno %>>
	    <p><input type='submit' value='후기 작성하고 휴지 받기'></p>
    </form>
<% } else { %>
<p>이미 후기를 작성하셨습니다.</p>
<% } %>
