<table width="50%">
    <tr>
        <% if(agent.a_profile_image == null) { %>
            <td>프로필 이미지 미등록</td>
        <% } else { %>
            <td><%= agent.a_profile_image %></td>
        <% } %>
    </tr>
    <tr>
        <% if(agent.rdealer_nm == null) { %>
            <td>null</td>
        <% } else { %>
            <td><%= agent.rdealer_nm %></td>
        <% } %>
    </tr>
    <tr>
        <% if(agent.cmp_nm == null) { %>
            <td>null</td>
        <% } else { %>
            <td><%= agent.cmp_nm %></td>
        <% } %>
    </tr>
    <tr>
        <% if(agent.address == null) { %>
            <td>null</td>
        <% } else { %>
            <td><%= agent.address %></td>
        <% } %>
    </tr>
</table>

<span>평균 별점</span>
<span class="uk-badge"><%= rating %></span>
