<table class = "table">
    <tr>
        <% if(agent.a_image1 == null) { %>
            <td>null</td>
        <% } else { %>
            <td><%= agent.a_image1 %></td>
        <% } %>
    </tr>
    <tr>
        <% if(agent.a_image2 == null) { %>
            <td>null</td>
        <% } else { %>
            <td><%= agent.a_image2 %></td>
        <% } %>
    </tr>
    <tr>
        <% if(agent.a_image3 == null) { %>
            <td>null</td>
        <% } else { %>
            <td><%= agent.a_image3 %></td>
        <% } %>
    </tr>
    <tr>
        <td><%= agent.a_introduction %></td>
    </tr>
</table>

<!-- <a href="/agent/<%= agent.a_id %>/update %>">수정</a> -->