<link rel="stylesheet" href="/css/agent.css">

	<main style="margin-top:-100px;">
		<div class="container">

		<div class="inner--container">
			<div class="top--container">
				<div class="m--left">
					<div class="m--m--left">
						<%- include('./agentProfile.ejs', {agent: agent, rating: agentRating}); %>
					</div>
				</div>
				<div class="m--right">
					<p><%- include('./agentInformation.ejs', {agent: agentSubInfo}); %></p>
				</div>

			</div>
			<hr class="uk-divider-icon" style="padding:35px 0px">

			<div class="bottom--center">
				<p><%- include('./agentMainInfo.ejs', {agent: agentMainInfo}); %></p>
			</div>
		</div>		
	</br>

	<hr class="uk-divider-icon" >
	<div style="font-size: 40px; color: black;"><%= `${agent.cmp_nm}의 후기` %></div>
	<% if(agentReviewData[0] == null) { %>
		<div class="a--m--text" style="color:black; padding: 10px 0px;">아직 후기가 없습니다😥</div>
	<% } else { %>
		<% agentReviewData.forEach(review => { %>
		<%- include('./agentReview.ejs', {review: review}) %>
		<% }); %>
	<% } %>
</div>
	</main>
