<%- include('./agentProfile.ejs', {agent: agent, rating: agentRating}); %>
<%- include('./agentInformation.ejs', {agent: agentSubInfo}); %>
<%- include('./agentMainInfo.ejs', {agent: agentMainInfo}); %>
</br>
<h1 class="uk-heading-divider"><%= `${agent.cmp_nm}의 후기` %></h1>
<% if(agentReviewData[0] == null) { %>
	<h3>아직 후기가 없습니다😥</h3>
<% } else { %>
	<% agentReviewData.forEach(review => { %>
	<%- include('./agentReview.ejs', {review: review}) %>
	<% }); %>
<% } %>