<link rel="stylesheet" href="/css/agent.css">
<div class="container">
	<div class="inner--container">
		<div class="top--container">
			<div class="m--left">
				<div class="m--m--left">
					<%- include('./agentProfile.ejs', {agent: agent, rating: agentRating}); %>
				</div>
			</div>
			<div class="m--right">
				<p><%- include('./agentInformation.ejs', {agent: agentSubInfo}); %></p>
			</div>

		</div>
		<hr class="uk-divider-icon" style="padding:35px 0px">

		<div class="bottom--center">
			<p><%- include('./agentMainInfo.ejs', {agent: agentMainInfo}); %></p>
		</div>
	</div>		
	</br>
	<h1 class="uk-heading-divider"><%= `${agent.cmp_nm}의 후기` %></h1>

	<% if (agentReviewData.length > 0) { %>
		<div class="review-statistics-container">
		<div>후기 <%= agentReviewData.length %>개의 통계</div>
		<% statistics.forEach((element, index) => { %>
		<div class="layout-row <%= element.id < 5 ? "positive" : "negative" %> stat level<%= index %>" style="width: 300px;justify-content: space-between;">
			<div><%= element.tag %></div>
			<div><%= element.count %></div>
		</div>
		<% }) %>
		</div>
	<% } %>

	<% if(agentReviewData[0] == null) { %>
		<div class="a--m--text" style="color:black; padding: 10px 0px;">아직 후기가 없습니다😥</div>
	<% } else { %>
		<% agentReviewData.forEach(review => { %>
			<% if(review.check_repo === 1) { %>
				<%- include('./agentReview.ejs', {review: review, tags: review.tags, tagsData: tagsData}) %>
			<% } else { %>
				<%- include('./agentRepoReview.ejs', {review: review}); %>
    		<% } %>
		<% }); %>
	<% } %>
</div>