<div class="realtor-box">
  <table class="uk-table uk-table-divider">
    <tr>
      <td colspan="2" align="center">
        <h2 class="uk-text-bold">
          <div class="uk-text-center"><%- title %></div>
        </h3>
      </td>
    </tr>
    <form action="/agent/<%= agentId %>/update_process" method="POST" enctype="multipart/form-data">
      <tr>
        <td style="width:40%">
          프로필사진
        </td>
        <td>
          <input type='hidden' name='agentId' value=<%- agentId %>>
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
                <input name="myImage" type="file" aria-label="Custom controls" value=<%= profileImage %>>
                <input name="file" class="uk-input uk-form-width-medium" type="text" placeholder="Select file" aria-label="Custom controls" disabled>
            </div>
          </div>
        </td>
      </tr>
      <tr>
          <td>
            영업 시작 시간
          </td>
          <td>
            <input type='time' style="padding: 10px; width: 10rem; height: 2.5rem;" name='office_hour_start' value=<%= officeHourS %>>
          </td>
      </tr>
      <tr>
        <td>
          영업 종료 시간
        </td>
        <td>
          <input type='time' style="padding: 10px; width: 10rem; height: 2.5rem;" name='office_hour_end' value=<%= officeHourE %>>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center"><button type="submit" class="uk-button uk-button-danger">수정</button></td>
      </tr>
    </form>
  </table>
</div>