<div class="realtor-box">
  <table class="uk-table uk-table-divider">
    <tr>
      <td colspan="2" align="center">
        <h2 class="uk-text-bold">
          <div class="uk-text-center"><%- title %></div>
        </h2>
      </td>
    </tr>
    <form action="/agent/<%= agentId %>/edit_process" method="POST" enctype="multipart/form-data">
      <input type='hidden' name='agentId' value=<%- agentId %>>
      <tr>
        <td style="width:40%">
          사진 1️⃣
        </td>
        <td>
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
                <input name="myImage1" type="file" aria-label="Custom controls" value=<%= image1 %>>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" aria-label="Custom controls" disabled>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          사진 2️⃣
        </td>
        <td>
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
                <input name="myImage2" type="file" aria-label="Custom controls" value=<%= image2 %>>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" aria-label="Custom controls" disabled>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          사진 3️⃣
        </td>
        <td>
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
                <input name="myImage3" type="file" aria-label="Custom controls" value=<%= image3 %>>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" aria-label="Custom controls" disabled>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>소개글</td>
        <td><textarea class="uk-textarea uk-form-width-medium" rows="5" name='introduction' placeholder='부동산 소개를 적어주세요' value=<%= introduction %>></textarea></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><button type="submit" class="uk-button uk-button-danger">수정</button></td>
      </tr>
    </form>
  </table>
</div>